#root {
  width: 1000px;
  margin: 10px auto;
}

li {
  margin-top: 10px;
}

li {
  padding: 20px
}
.active {
  border: 1px solid red;
}


.status-ERROR {
  color: red;
}

.status-SUCCESS {
  color: green;
}
